cw1_Web_Scraping/*.html
cw3_EDA/property_tax_report_2019.zip
cw3_EDA/property_tax_report_2019.csv

cw4_Corr_Boostrapping/A4-data.zip
cw4_Corr_Boostrapping/property_tax_report_2019.csv

cw5_Anomaly_Detection/A5-data.zip
cw5_Anomaly_Detection/logs-features.csv
cw5_Anomaly_Detection/logs-features-sample.csv
cw8_Deeplearning/hymenoptera_data.zip
cw10_Feature_Eng/ch6_cell28_dev_feat1_filtered.tsv
cw11_AWS
